server:
  port: 8080

spring:
  application:
    name: taskmanagement

  datasource:
    url: jdbc:mysql://localhost:3306/taskmanagement_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:CHANGE_ME}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # Cấu hình gửi mail thật qua Gmail
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:CHANGE_ME}
    password: ${MAIL_PASSWORD:CHANGE_ME}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  upload-dir: uploads/
